body {
    font-family: sans-serif;
    background-color: #dce0e6; 
    color: #1f1f20;            
    margin: 0;
}


.cabecalho {
    background-color: #2b4c7e; 
    color: white;
    padding: 15px;
}

#banner {
    background-color: #1f1f20; 
    padding: 20px;
}


.cursos {
    color: #606d80;           
    padding: 20px;
}

.cursos h3 {
    color: #2b4c7e;            
}


.contato {
    padding: 20px;
}

.contato a {
    color: #567ebb;           
    font-weight: bold;
}

.rodape {
    background-color: #1f1f20; 
    color: white;
    padding: 10px;
}